* {
  margin: 0;
  padding: 0;
  position: relative;
}
#my-produk{
  background-color: navy;
}
.kotak {
  background-color: rgb(233, 197, 55);
  width: 250px;
  height: 300px;
  overflow: visible;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.kotak::before {
  content: "MY";
  position: absolute;
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  top: 50px;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.kotak:hover::before {
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.5;
}
.kotak::after {
  content: "SHOES";
  position: absolute;
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  bottom: 40px;
  left: 70%;
  opacity: 0;
  transition: 0.5s;
}
.kotak:hover::after {
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.5;
}

.nama-produk {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: rgb(0, 132, 255);
  top: 0;
  font-size: 1.8em;
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(0, 0, 20px);
}
.kotak:hover .nama-produk {
  top: 10px;
  opacity: 1;
}

.detail-produk {
  text-decoration: none;
  border-radius: 10px;
  width: 100px;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: rgb(0, 132, 255);
  font-size: 1em;
  font-weight: bold;
  box-shadow: 5px 5xp 5px;
  left: 50%;
  transform: translate3d(-50%, 0, 50px);
  opacity: 0;
  transition: 0.5s;
}

.detail-produk a {
  text-decoration: none;
  color: white;
}

.detail-produk a:hover {
  color: #000000;
}

.kotak:hover .detail-produk {
  opacity: 1;
  bottom: 10px;
}

.gambar-produk {
  width: auto;
  top: 50%;
  height: 85%;
  left: 50%;
  transform: translate3d(-50%, -50%, 40px);
  transition: 0.5s;
  z-index: 10;
  text-shadow: 10px 10px 19px;
}

.kotak:hover .gambar-produk {
  transform: translate3d(-50%, -50%, 40px) rotate(-10deg) scale(1.2);
}
